<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <appSettings>
    <add key="BaseUrl" value="http://localhost:57817/" />
    <add key="SecretLifeMinutes" value="15"/>
    <add key="MaxSecretLength" value="100"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
</configuration>
